<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407198304277-9k151knoibgmiv3v4tjoqi3n0v84onlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407198304277-9k151knoibgmiv3v4tjoqi3n0v84onlp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>407198304277-ivtraccs7tn13l7j25m703fcfko3vki7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ983-MWo6sm5yK7ki8uhSdRVlqHJJhWo</string>
	<key>GCM_SENDER_ID</key>
	<string>407198304277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elSnake</string>
	<key>PROJECT_ID</key>
	<string>el-snake</string>
	<key>STORAGE_BUCKET</key>
	<string>el-snake.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407198304277:ios:d391619f4469656c</string>
	<key>DATABASE_URL</key>
	<string>https://el-snake.firebaseio.com</string>
</dict>
</plist>